header {

  height: 98% ;min-height: 480;
  width: 98%;
    border: 2px solid black;
    padding-bottom: 45%;
    padding-top: 45%;
    font-family: "Indie Flower", cursive;
    text-align: center; text-decoration: none;
    margin: 1%;
      font-size: 30px;
}

header a {
  text-decoration: none;
    font-size: 20px;
}

#section1 {
  height: 98% ;
  width: 98%;
    border: 2px solid black;
    padding-bottom: 15%;
    padding-top: 15%;
    text-align: center;
    margin: 1%;
    font-size: 20px;
}

#section2 {
  height: 98% ;
  width: 98%;
    border: 2px solid black;
    padding-bottom: 15%;
    padding-top: 15%;
    text-align: center;
    margin: 1%;
    font-size: 20px;
}
